<div class="home">
  <div class="login">
    <div *ngIf="(auth.user$ | async) as user; else login">
      <div *ngFor="let u of (users$ | async)">
        <div class="img_cont">
          <img [src]="u.photoURL" class="rounded-circle user_img profile-pic" />
          <span
            class="{{ u.status === 'online' ? 'online_icon' : 'offline_icon' }}"
          ></span>
        </div>
      </div>
      <div class="header">
        <div class="title-home">Howdy, {{ user.displayName }}</div>
        <div class="img_cont">
          <img
            [src]="user.photoURL"
            class="rounded-circle user_img profile-pic"
          />
          <span
            class="{{
              user.status === 'online' ? 'online_icon' : 'offline_icon'
            }}"
          ></span>
        </div>
      </div>
      <button class="btn is-small btn-success" (click)="auth.signOut()">
        Sign Out
      </button>
      <hr />

      <button class="btn btn-danger" routerLink="/chats/GSGUAIwGdNI85AMv8cF2">
        Group FireChat 🎪
      </button>
      <button class="btn is-info btn-warning" (click)="cs.create()">
        New Group Chat
      </button>
      <hr />

      <h3>My Chats <i class="far fa-comments"></i></h3>
      <div class="col-md-4 col-xl-3 chat">
        <div class="card mb-sm-3 mb-md-0 contacts_card">
          <div class="card-header">
            <div class="input-group">
              <input
                type="text"
                placeholder="Search chat (coming soon)"
                name=""
                class="form-control search"
                disabled
              />
              <div class="input-group-prepend">
                <span class="input-group-text search_btn"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="card-body contacts_body">
            <div class="contacts">
              <li
                class="chat-preview"
                *ngFor="let chat of (userChats$ | async)"
              >
                <a [routerLink]="'chats/' + chat.id">
                  <div class="chat-name">
                    <span> {{ chat.id }} </span>
                    <div class="chat-info">
                      <i class="far fa-envelope"></i>
                      <p>{{ chat.messages.length }} Messages</p>
                    </div>
                  </div>
                </a>
              </li>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>

    <ng-template #login>
      <div id="login">
        <div class="login-container">
          <div class="title">
            Welcome to Firechat <i class="far fa-comments"></i>
          </div>
          <div class="sub-title">Version 1.0</div>
          <img
            src="../../assets/google-logo.png"
            alt=""
            (click)="auth.googleSignIn()"
          />
          <button
            class="btn btn-outline-danger btn-login"
            (click)="auth.googleSignIn()"
          >
            Sign In
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
